<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <config>      
    <add key="HTTP_PROXY" value="proxy-aws.sportsbet.com.au:8080" />
    <add key="HTTPS_PROXY" value="proxy-aws.sportsbet.com.au:8080" />
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Trading Solutions" value="http://tradingsolutions-nuget.sportsbet.com.au/NugetServer/nuget" protocolVersion="2" />
  </packageSources>
</configuration>